# External tools:
- django-multiselectfield (https://pypi.org/project/django-multiselectfield/). If needed install using this command: pip install django-multiselectfield
- FullCalendar (https://fullcalendar.io/docs/initialize-globals). Already installed.