{% extends 'escalada/layout.html' %}
{% load static %}

{% block script %}
    <meta charset='utf-8' />
    <script src="{% static 'fullcalendar/lib/main.js' %}"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
                {% for lesson in myLessons %}
                    {
                        title: "Clase de escalada",
                        start: "{{ lesson.class_date | date:'Y-m-d'}}T{{lesson.climbClass.begin_time | date:'G:i:s'}}",
                        end: "{{ lesson.class_date | date:'Y-m-d'}}T{{lesson.climbClass.end_time | date:'G:i:s'}}",
                    },
                {% endfor %}
            ]
        });
        calendar.render();
    });

    </script>
{% endblock script %}
{% block body %}
    <div>
        <h2><strong>My Calendar</strong></h2>
    </div>
    <div id='calendar' class="container">

    </div>
{% endblock body %}