{% extends 'escalada/layout.html' %}
{% load static %}
{% load tz %}

{% block script %}
    <meta charset='utf-8' />
    <script src="{% static 'fullcalendar/lib/main.js' %}"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            selectable: true,
            events: [
                {% for lesson in myLessons %}
                    {
                        id: {{lesson.id}},
                        title: "Clase de escalada",
                        start: "{{ lesson.class_date | date:'Y-m-d'}}T{{lesson.climbClass.begin_time | date:'G:i:s'}}",
                        end: "{{ lesson.class_date | date:'Y-m-d'}}T{{lesson.climbClass.end_time | date:'G:i:s'}}",
                        extendedProps: {
                          climbers: {{lesson.id}}
                        }
                    },
                {% endfor %}
                {% for climb in myClimbs %}
                    {
                        id: {{climb.id}},
                        title: "Escalada libre",
                        start: "{{ climb.date | date:'Y-m-d'}}T{{climb.begin_time | date:'G:i:s'}}",
                        end: "{{ climb.date | date:'Y-m-d'}}T{{climb.end_time | date:'G:i:s'}}",
                    },
                {% endfor %}
            ],
            eventClick: function(info) {
                {% if gymCalendar %}
                    alert('Event: ' + info.event.id);
                {% endif %}
              },            
            dateClick: function(info) {
                calendar.gotoDate(info.date);
                calendar.changeView('timeGridDay');
            }
            
        });
        calendar.render();
    });

    </script>
{% endblock script %}
{% block body %}
    <div id='calendar' class="container">

    </div>
{% endblock body %}