{% extends 'escalada/layout.html' %}

{% block body %}
    <h1 id="profile-info">{{user.first_name}} {{user.last_name}}</h1>
    <hr>
    <h3 id="title">My Coupons</h3>
        {% if myCoupons|length > 0 %}
            <div class="coupons-container">
                {% for myCoupon in myCoupons %}
                <div class="border">
                    {% if myCoupon.coupon.climbPassType %}
                    <div class="card-header-pass"style="height: 15px;"></div>
                        <div class="card-body">
                            <h4>{{myCoupon.coupon.climbPassType}}</h4>
                            <p>Free climb coupon</p>
                            <p>Number of tickets available: {{myCoupon.ticketsAvailable}}</p>
                    {% else %}
                    <div class="card-header-class"style="height: 15px;"></div>
                        <div class="card-body">
                            <h4>{{myCoupon.coupon.classType}}</h4>
                            <p>Coupon available for {{myCoupon.coupon.numberOfWeeks}} weeks of class</p>
                            <p>One-time use only</p>
                    {% endif %}
                            <p>Original price: S/ {{myCoupon.coupon.price}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p align="center"><em>You don't have any coupons, <a href="{% url 'buyCoupon' %}">wanna buy one</a>?</em></p>
        {% endif %}
{% endblock body %}

