{% extends 'escalada/layout.html' %}

{% block body %}
    <h1 id="profile-info">{{profile_user.first_name}} {{profile_user.last_name}}</h1>
    <hr>
    <div class="my-coupons">
        <h3 class="subtitle">My Coupons</h3>
            {% if myCoupons|length > 0 %}
                <div class="coupons-container">
                    {% for myCoupon in myCoupons %}
                    <div class="border">
                        {% if myCoupon.coupon.climbPassType %}
                        <div class="card-header-pass"></div>
                            <div class="card-body">
                                <h4>{{myCoupon.coupon.climbPassType}}</h4>
                                <p>Free climb coupon</p>
                                <p>Number of tickets available: {{myCoupon.ticketsAvailable}}</p>
                        {% else %}
                        <div class="card-header-pass"></div>
                            <div class="card-body">
                                <h4>{{myCoupon.coupon.classType}}</h4>
                                <p>Coupon available for {{myCoupon.coupon.numberOfWeeks}} weeks of class</p>
                                <p>One-time use only</p>
                        {% endif %}
                                <p>Original price: S/ {{myCoupon.coupon.price}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p align="center"><em>You don't have any coupons, <a href="{% url 'buyCoupon' %}">wanna buy one</a>?</em></p>
            {% endif %}
    </div>
    <div class="my-enrollments">
        <h3 class='subtitle'>My Classes</h3>
        {% if myEnrollments %}
            <div class="coupons-container">
                {% for myEnrollment in myEnrollments %}
                <div class="border">
                    <div class="card-header-class"></div>
                        <div class="card-body">
                            <h4>{{myEnrollment.classType}}</h4>
                            <p>Class days: {{myEnrollment.lessonDay}}</p>
                            <p>Begin time: {{myEnrollment.begin_time}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <p align="center"><em>You are not enrolled in any class, <a href="{% url 'enroll' %}">wanna take a class</a>?</em></p>
        {% endif %}
    </div>
    <div class="next-class">
        <h3 class="subtitle">Next Class</h3>
        {% if nextLesson %}
            <p align="center">Your next class is: {{nextLesson.class_date}} at {{nextLesson.climbClass.begin_time}}</p>
        {% else %}
        <p align="center"><em>You are not enroll in any class, <a href="{% url 'enroll' %}">wanna take a class</a>?</em></p>
        {% endif %}
    </div>

{% endblock body %}

